[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ERC4626"]
	path = lib/ERC4626
	url = https://github.com/fei-protocol/ERC4626
[submodule "lib/flywheel-v2"]
	path = lib/flywheel-v2
	url = https://github.com/fei-protocol/flywheel-v2
[submodule "lib/xTRIBE"]
	path = lib/xTRIBE
	url = https://github.com/fei-protocol/xTRIBE
